body {
  background-color: #000000;

}
.container {
  color: #FEE93E;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img {
  width: 30%;
  margin-top: 15px;
  padding: 15px;

}

ul {
 list-style: decimal;
}

button {
 font-size: 16px;
 padding-left: 10px;
 margin-left: 10px;
 border-radius: 4px;
 background-color: #FEE93E;
 font-weight:  bold;
 border: none;
}



input {
  font-size: 18px;
  border-radius: 4px;
  font-weight:  bold;
  color: #000000;
 }